.fa-solid{
  position: absolute;
  top: 160px;
  right: 300px;
  font-size: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fa-solid:hover {
  transform: scale(1.4);
}

table thead tr th{
  background-color: rgb(43, 42, 42);
  color: white;
}

.form-container {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
