<div class="container mt-5">
  <h2 class="text-center mb-4">ENTRENADORES</h2>
  <table class="table table-striped table-bordered table-custom text-center">
    <thead class="table-dark">
      <tr>
        <td>Nombre</td>
        <td>Acciones</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainer of trainersUsers">
        <td class="fs-5 w-50">{{ trainer.name }}</td>
        <td class="w-75">
          <button class="btn btn-primary" (click)="editTrainer(trainer)">
            <i class="fa-solid fa-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
