<div class="form-container mt-5">
  <table class="table table-striped table-bordered table-custom text-center mt-5 ">
    <thead>
      <tr>
        <th scope="col">Usuarios con rutinas asignadas</th>
        <th scope="col">Role</th>
        <th scope="col">Rutina</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userWithRoutine of allUsersWithRoutines.usersWithRoutines">
        <td class="align-middle">{{ userWithRoutine.name }}</td>
        <td class="align-middle">{{ userWithRoutine.role }}</td>
        <td class="align-middle">{{ userWithRoutine.routines[0]?.name }}</td>
        <td class="text-center">
          <button type="submit" class="btn btn-danger" (click)="removeRoutineToUser(userWithRoutine.id)">
            <i class="fas fa-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-container mt-5">
    <table class="table table-striped table-bordered table-custom text-center mt-5">
      <thead>
        <tr>
          <th scope="col">Usuarios sin rutinas asignadas</th>
          <th scope="col">Role</th>
          <th scope="col">Asignar Rutina</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userWithoutRoutine of allUsersWithoutRoutines.usersWithoutRoutines">
          <td class="align-middle">{{ userWithoutRoutine.name }}</td>
          <td class="align-middle">{{ userWithoutRoutine.role }}</td>
          <td class="align-middle">
            <select [(ngModel)]="userWithoutRoutine.selectedRoutine" class="form-select">
              <option value="" disabled selected>Select a routine</option>
              <option *ngFor="let routine of routines" [value]="routine.id">{{ routine.name }}</option>
            </select>
          </td>
          <td class="text-center">
            <button type="submit" class="btn btn-success" (click)="assignRoutine(userWithoutRoutine.id, userWithoutRoutine.selectedRoutine)">
              <i class="fas fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="mt-5 d-flex">
  <button routerLink="/routine" type="button" class="action-button-back-rou">
    <i  class="bi bi-arrow-left"></i> Volver
  </button>
</div>
