<section>
  <div class="pt-10 text-center">
    <div class="container mt-5">
      <h1 class="display-3 fw-bold mb-4 pb-2 border-bottom mt-5 fallFromTop" style="background-color: rgb(0, 119, 182); color: white;">
          Nuestras Actividades y Servicios
      </h1>
  </div>
    <h2 class="mt-5">Descubre todo lo que <span style="color: rgb(0, 119, 182); font-weight: bold;">Sport Center</span> tiene para ofrecer</h2>
    <p class="lead mb-0">
      <strong >En <span style="color: rgb(0, 119, 182); font-weight: bold;">Sport Center</span>, estamos comprometidos en brindarte una experiencia completa de acondicionamiento físico. Nuestras actividades y servicios están diseñados para ayudarte a alcanzar tus objetivos de salud y bienestar.</strong>
    </p>

    <h2 class="mt-5">Actividades Variadas</h2>
    <p class="lead mb-0">
      <strong >Te ofrecemos una amplia variedad de actividades para que nunca te aburras. Desde entrenamiento en grupo hasta clases de yoga, nuestros instructores calificados te guiarán en cada paso. Mantente activo y diviértete mientras te pones en forma.</strong>
    </p>
    </div>
    <div class="container py-7 mt-5">
      <div class="row g-3">
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">PILATES</h5>
              <iframe width="100%" height="355" src="https://www.youtube.com/embed/c9Rhf7CRRkU" title="Video de YouTube" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">CROSSFIT</h5>
              <iframe width="100%" height="355" src="https://www.youtube.com/embed/rmzWeBTC6aM" title="Video de YouTube" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">BODY PUMP</h5>
              <iframe width="100%" height="355" src="https://www.youtube.com/embed/rCylV4sEG_s" title="Video de YouTube" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="pt-10 text-center mt-5">
    <h2>Servicios Personalizados</h2>
    <p class="lead mb-0">
      <strong >En <span style="color: rgb(0, 119, 182); font-weight: bold;">Sport Center</span>, te ofrecemos una gama de servicios para maximizar tu experiencia. Desde entrenamiento personalizado hasta asesoramiento nutricional, estamos aquí para apoyarte en tu viaje de acondicionamiento físico.</strong>
    </p>
  </div>

