.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@keyframes fallFromTop {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.fallFromTop {
  animation: fallFromTop 2s ease-in-out;
}

