<section>
  <div class="pt-10 text-center">
    <div class="container mt-5">
      <h1 class="display-3 fw-bold mb-4 pb-2 border-bottom mt-5 appearFromRight" style="background-color: rgb(0, 119, 182); color: white;">
          Quienes Somos
      </h1>
  </div>
    <h2 class="mt-5">Bienvenido a <span style="color: rgb(0, 119, 182); font-weight: bold;">Sport Center</span></h2>
    <p class="lead mb-0">
      <strong >En <span style="color: rgb(0, 119, 182); font-weight: bold;">Sport Center</span>, nuestro compromiso es ayudarte a alcanzar tus metas de salud y bienestar de la manera más efectiva y motivadora.
      Nos enorgullecemos de ser más que un simple gimnasio, somos un lugar donde la pasión por la vida activa se fusiona con la dedicación
      y la comunidad.</strong>
    </p>
    <h2 class="mt-5">Nuestra Misión</h2>
    <p class="lead mb-0">
      <strong >Nuestra misión es inspirarte a llevar un estilo de vida saludable y activo. Creemos que la actividad física no es solo un medio para mejorar la condición física,
        sino una forma de empoderar cuerpo y mente. En <span style="color: rgb(0, 119, 182); font-weight: bold;">Sport Center</span>, te brindamos las herramientas, la orientación y el apoyo necesarios para que puedas lograr tus objetivos y
        vivir una vida más saludable.</strong>
    </p>
  </div>
  <div class="container py-7 mt-5">
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about1.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 1">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about2.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 2">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about3.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 3">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about4.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 4">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about6.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 5">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src= "../../../assets/images/about5.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 6">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about7.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 7">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about9.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 8">
        </picture>
      </div>
      <div class="col-12 col-md-4">
        <picture>
          <img src="../../../assets/images/about8.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 9">
        </picture>
      </div>
    </div>
  </div>

  <div class="pt-10 text-center mt-5">
    <h2>Nuestro Equipo</h2>
    <p class="lead mb-0">
      <strong >Nuestro equipo de entrenadores y profesionales del fitness está dedicado a brindarte el mejor acompañamiento en tu viaje hacia la salud y el bienestar.
        Son apasionados, experimentados y comprometidos a ayudarte a alcanzar tus metas de forma segura y efectiva.</strong>
    </p>
    <div class="container mt-5">
      <div class="row ">
        <div class="col-md-6">
          <div class="card " style="width: 400px;">
            <img src="../../../assets/images/Entrenador.jpg" class="card-img-top img-fluid" alt="Miembro 1">
            <div class="card-body">
              <h5 class="card-title">ENTRENADOR PERSONAL</h5>
              <p class="card-text">Soy Graduado en Ciencias de la Actividad Física y del Deporte en el INEF de Madrid (Universidad Politécnica de Madrid).
                Nacido en 1996, siempre he sido un apasionado del ejercicio y del deporte. Yo también empecé como tú, mirando planes de entrenamiento y rutinas
                de gimnasio por internet que no llegaban a buen puerto. Fue con 20 años cuando decidí empezar a informarme bien sobre el entrenamiento con
                pesas y los ejercicios de fuerza. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="card " style="width: 400px;">
            <img src="../../../assets/images/nutricionista.jpg" class="card-img-top img-fluid" alt ="Miembro 2">
            <div class="card-body">
              <h5 class="card-title">DIETISTA – NUTRICIONISTA</h5>
              <p class="card-text">Siempre he pensado que en mi familia se comía fatal. No había organización y repetíamos las comidas constantemente.
                No había verdura ni legumbres, pero sí embutidos, snacks, galletas, pizzas y pasta, mucha pasta. Sospechaba que no lo estábamos haciendo bien
                y empecé a buscar información. Poco a poco, mi fijación por la alimentación fue creciendo hasta que decidí estudiar el Grado de Nutrición Humana
                y Dietética (UCM).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="pt-10 text-center">
    <h2 class="mt-5">Nuestras Instalaciones</h2>
    <p class="lead mb-0">
      <strong >En <span style="color: rgb(0, 119, 182); font-weight: bold;">Sport Center</span>, ofrecemos instalaciones de vanguardia que incluyen una amplia gama de equipos
        de ejercicio, áreas de entrenamiento especializadas y clases grupales emocionantes. Queremos que te sientas cómodo y motivado en cada visita.</strong>
    </p>
    <div class="container py-7 mt-5">
      <div class="row g-3">
        <div class="col-12 col-md-4">
          <picture>
            <img src="../../../assets/images/instalacion1.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 1" style="max-width: 100%; max-height: 100vh;">
          </picture>
        </div>
        <div class="col-12 col-md-4">
          <picture>
            <img src="../../../assets/images/instalacion2.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 2" style="max-width: 100%; max-height: 100vh;">
          </picture>
        </div>
        <div class="col-12 col-md-4">
          <picture>
            <img src="../../../assets/images/inatalacion3.jpeg" class="img-fluid rounded img-zoom mb-4" alt="Foto 3" style="max-width: 100%; max-height: 100vh;">
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mb-4">Dónde Nos Encontramos</h2>
        <p>
          Nuestra ubicación te brinda un fácil acceso desde diferentes partes de la ciudad. Ven y visítanos en:
        </p>
        <address>
          <strong>Centro Sport Center</strong><br>
          Calle Principal 123<br>
          Ciudad, Código Postal<br>
        </address>
        <p>
          Estamos abiertos de lunes a viernes de 7:00 a 21:00 y los sábados de 8:00 a 18:00. Si tienes alguna pregunta o necesitas más información,
          no dudes en ponerte en contacto con nosotros.
        </p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.183540692468!2d-4.449064205307394!3d36.7181529864384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f774f6aeb89d%3A0x47664cbc8b7c0b1b!2zSUVTIFBvbGl0w6ljbmljbyBKZXPDunMgTWFyw61u!5e0!3m2!1ses!2ses!4v1699197595551!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
