<div class="row  mb-5">

  <div class="container ">
    <p class="text-center display-3 fw-bold mb-4 pb-2 border-bottom mt-5 moveLeftToRight" style="background-color: rgb(0, 119, 182); color: white;">
        ENTRENATE CON NOSOTROS
    </p>
  </div>

  <div class="col-9">
    <h3 class="text-center mt-5">Para mejorar tu salud y conseguir tus objetivos</h3>
    <p class="mt-5 p1">Hoy en día casi el 90% de las personas que practican deporte dentro de su rutina diaria lo llevan a cabo de una manera desordenada y sin
      ningún control de variables fundamentales como técnica, intensidad… Lo que convierte al entrenamiento en un arma de doble filo que en
      ocasiones podría comprometer nuestra salud. Sin olvidar el alto porcentaje que sigue habiendo hoy en día de personas que no realizan ningún
      tipo de ejercicio físico.</p>
      <p class="p1">
        Pero si te ayudaran a encontrar la manera de mejorar su salud y su rendimiento a través de una buena planificación tanto física como nutricional, ¿Serías capaz de cumplir tus sueños?
      </p>
  </div>
  <div class="col-3 mt-5">
    <img src="../../../assets/images/entrenate.jpg" class="img-fluid ">
  </div>
</div>

<!-- CARDS -->
<div class="row">
  <div class="col-12 col-md-4 mt-5 mb-5">
    <div class="card card-zoom">
      <img src="../../../assets/images/card1home.jpeg" class="card-img-top img-fluid" alt="..." style="height: 200px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title text-center">ENTRENAMIENTO</h5>
        <p class="card-text">Tus entrenamientos llevados al siguiente nivel. Entrenar con un entrenador online nunca
          había sido tan fácil. Rutinas de ejercicio individualizadas y feedback continuo con tu entrenador. Sea cual
           sea tu objetivo (hipertrofia muscular, fuerza, pérdida de grasa...), nuestro servicio de entrenamiento
           consiste en adaptar las rutinas a ti y a tu contexto. Ya sea en el gimnasio o en tu casa.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-5">
    <div class="card card-zoom">
      <img src="../../../assets/images/card2home.jpeg" class="card-img-top img-fluid" alt="..." style="height: 200px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title text-center">VIDA SALUDABLE</h5>
        <p class="card-text text-center">Un estilo de vida que promueve el bienestar físico, mental y emocional.
          Involucra la adopción de hábitos y comportamientos que contribuyen a mantener y mejorar la salud a lo
          largo del tiempo. Adoptar un estilo de vida saludable puede contribuir a una vida más larga y de mayor
          calidad, reducir el riesgo de enfermedades crónicas y promover el bienestar general.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mt-5">
    <div class="card card-zoom">
      <img src="../../../assets/images/card3home.jpeg" class="card-img-top img-fluid" alt="..." style="height: 200px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title text-center">NUTRICIÓN</h5>
        <p class="card-text text-center">Un pilar importante para adquirir unos buenos hábitos es una alimentación saludable y consciente.
          Nuestra dietista-nutricionista se encargará de adaptar el plan nutricional a ti y a tu contexto. Gracias a las nuevas formas de
          comunicación, la distancia o tener poco tiempo ya no serán un impedimento en este nuevo camino, puesto que nuestras asesorías son online.
        </p>
      </div>
    </div>
  </div>
</div>

